<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class=""
>

<meta charset="UTF-8"/>

<!--<link rel="stylesheet" th:href="@{/node_modules/tailwindcss/tailwind.css}">-->
<script src="https://cdn.tailwindcss.com"></script>
<th:block layout:fragment="css"></th:block>

<script type="text/javascript" th:src="@{/node_modules/jquery/dist/jquery.slim.js}"></script>
<!--<script type="text/javascript" src ="/js/quiz.js"></script>-->
<th:block layout:fragment="script"></th:block>

<th:block th:replace="fragments/quiz_manage_header :: quiz_manage_header"></th:block>

<body class="">
    <th:block layout:fragment="content"></th:block>
</body>
<!-- footer fragment 사용 -->
<!--<th:block th:replace="fragments/common_footer :: common_footer"></th:block>-->
</html>