<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class=""
>

<meta charset="UTF-8"/>
<link th:href="@{./css/style.main.css}" rel="stylesheet">
<link th:href="@{./css/style.tailwind.css}" rel="stylesheet">
<!-- highlight.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/java.min.js"></script>
<script>hljs.highlightAll();</script>
<th:block layout:fragment="css"></th:block>


<th:block layout:fragment="script"></th:block>
<script th:src="@{./node_modules/jquery/dist/jquery.js}"></script>
<!--<th:block th:replace="fragments/quiz-manage-header :: quiz_manage_header"></th:block>-->

<body class="bg-stone-900">
    <th:block layout:fragment="content"></th:block>
</body>
<!-- footer fragment 사용 -->
<!--<th:block th:replace="fragments/common_footer :: common_footer"></th:block>-->
</html>

