<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class=""
>

<meta charset="UTF-8"/>

<script src="https://cdn.tailwindcss.com"></script>
<th:block layout:fragment="css"></th:block>


<th:block layout:fragment="script"></th:block>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<th:block th:replace="fragments/quiz-manage-header :: quiz_manage_header"></th:block>

<body class="bg-stone-900">
    <th:block layout:fragment="content"></th:block>
</body>
<!-- footer fragment 사용 -->
<!--<th:block th:replace="fragments/common_footer :: common_footer"></th:block>-->
</html>