<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/quiz-manage-layout}" lang="kr">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script">

</th:block>
<main layout:fragment="content" class="m-auto min-w-min w-4/6 max-w-md pt-14">
    <section id="">
        <h2 class="text-center text-gray-200 text-2xl font-medium"><span class="font-bold">클린 코드</span> 레벨 테스트</h2>
        <h3 class="text-center text-gray-200 text-xl font-medium">Java 클린코드 문제 풀기</h3>
        <h3 class="text-center text-gray-200 text-xl font-medium">과연 내 점수는?</h3>

        <picture>
            <source srcset="/images/opening-ghost.png">
            <img src="/images/opening-ghost.png" alt="">
        </picture>

        <button
                class="w-full mt-6 bg-stone-200 rounded-lg px-4 py-2 text-lg tracking-wide font-semibold font-sans"
                id="btn-start">
            시작하기 >
        </button>
    </section>
    <section>
        <article>
            <div class="flex justify-end mb-1">
                <span class="text-sm font-medium text-blue-700 dark:text-white"><a id="score">0</a>/10</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                <div class="bg-gray-600 h-2.5 rounded-full dark:bg-gray-300" id="score-progress" style="width: 0"></div>
            </div>
        </article>
        <article id="level-test">
            <h2 id="question" class="text-center text-gray-200 text-2xl font-medium"></h2>
            <div class="grid grid-rows-2 grid-flow-col gap-4 container">
                <div th:name="option" id="option-a" class="row-span-1">
                    <pre class="prettyprint"><code class="language-java"></code></pre>
                </div>
                <div th:name="option" id="option-b" class="row-span-1">
                    <pre class="prettyprint"><code class="language-java"></code></pre>
                </div>
            </div>
            <button type="submit"
                    class="w-full mt-6 bg-stone-200 rounded-lg px-4 py-2 text-lg tracking-wide font-semibold font-sans"
                    id="btn-select">
                선택 >
            </button>
        </article>
        <article id="description-answer">
            <h2 id="answer" class="text-center text-gray-200 text-2xl font-medium"></h2>
            <pre id="correct-option-code" class="prettyprint"><code class="language-java"></code></pre>
            <h3 id="description" class="text-center text-gray-200 text-2xl font-medium"></h3>
            <button type="submit"
                    class="w-full mt-6 bg-stone-200 rounded-lg px-4 py-2 text-lg tracking-wide font-semibold font-sans"
                    id="btn-next">
                다음 >
            </button>
        </article>
    </section>
    <div id="result">
        <h2 class="text-center text-gray-200 text-2xl font-medium">당신의 <span>클린 코드</span> 레벨은</h2>
        <h2 class="text-center text-gray-200 text-2xl font-medium">LV.<a id="result-score"></a></h2>
        <picture>
            <source srcset="/images/closing-ghost.png">
            <img src="/images/closing-ghost.png" alt="">
        </picture>
        <h3 id="comment"></h3>
        <button
                class="w-full mt-6 bg-stone-200 rounded-lg px-4 py-2 text-lg tracking-wide font-semibold font-sans"
                id="btn-back">
            다시하기 >
        </button>
    </div>
</main>
</html>

<script type="module" th:src="@{/js/dist/level-test.js}"></script>