<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/quiz_manage_layout }" lang="kr">

<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" th:href="@{/node_modules/tui-pagination/dist/tui-pagination.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/node_modules/tui-grid/dist/tui-grid.css}">
</th:block>

<th:block layout:fragment="script">
  <script type="text/javascript" th:src="@{/node_modules/tui-pagination/dist/tui-pagination.js}"></script>
  <script type="text/javascript" th:src="@{/node_modules/tui-grid/dist/tui-grid.js}"></script>
  <script type="text/javascript" th:src="@{/js/quiz.js}"></script>
</th:block>


<div layout:fragment="content">
  <div>
    <button type="button" id="register_button">새로운 문제 추가하기</button>
  </div>
  <div id="quizzesList"></div>
</div>
</html>

<script th:inline="javascript">

  const quizAPI = {
    api: {
      readData: {url: '/quizzes/', method: 'GET'}
    },
  }

  let grid = new tui.Grid({
    el: document.getElementById('quizzesList'),
    data: quizAPI,
    contentType: 'application/json',
    rowHeaders: ['rowNum'],
    pageOptions: {
      perPage: 10
    },
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: 'id',
        name: 'id',
        hidden: true
      },
      {
        header: '질문',
        name: 'question'
      },
      {
        header: '답',
        name: 'answer',
        maxWidth: 3
      }
    ],
    showDummyRows: true
  });

  const registerButton = document.getElementById("register_button")
  function getColumnId(el){
    return grid.getFormattedValue(el.rowKey, 'id')
  }

  registerButton.addEventListener('click', function () {
    moveRegisterPage()
  })



  grid.on('click', el => {
    const id = getColumnId(el)
    if(!id) return null

    moveEditPage(id)
  })


</script>