<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/quiz_manage_layout }" lang="kr">

<!-- index.html 고유 CSS 추가 -->


<th:block layout:fragment="css">
<!--  <link rel="stylesheet" type="text/css" th:href="@{/node_modules/tui-grid/dist/tui-grid.css}">-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<!--  <script th:src="@{/node_modules/tui-grid/dist/tui-grid.js}"></script>-->
<!--  <script type="text/javascript" th:src="@{/js/questions/list.js}"></script>-->

  <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
  <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div>
    <button type="button" id="register_button">새로운 문제 추가하기</button>
  </div>
  <div id="quizzesList"></div>
</div>
</html>

<script th:inline="javascript">

  const quizAPI = {
    api: {
      readData: {url: '/quizzes/', method: 'GET'}
    },
    initialRequest: false,
  }

  let grid = new tui.Grid({
    el: document.getElementById('grid'),
    data: quizAPI,

    ContentType: 'application/json',
    rowHeaders: ['rowNum'],
    pageOptions: {
      perPage: 10
    },
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: '질문',
        name: 'question'
      },
      {
        header: '답',
        name: 'answer',
        maxWidth: 3
      }
    ]
  });

  const registerButton = document.getElementById("register_button")

  registerButton.addEventListener('click', function () {
    moveRegisterPage()
  })

  function getId(){

  }





</script>